/* BASE STYLES */
body {
  margin: none;
  padding: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  overflow: hidden; }

div {
  display: inline-block; }

input {
  border: none;
  background: none;
  border: 1px solid black;
  outline: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 2rem;
  width: 200px; }

/* LAYOUTS */
.title {
  color: white;
  font-weight: bold;
  font-size: 6rem;
  line-height: 50%;
  -webkit-text-stroke: 1px black;
  text-shadow: 4px 4px 5px gray;
  margin-top: 0px;
  user-select: none; }

.yellow-text {
  color: yellow; }

.red-text {
  color: red; }

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  width: 300px;
  height: 0px;
  border: none;
  outline: 0; }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out; }
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
      border: 2px solid black; }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.6); }

.container {
  display: grid;
  grid-template-columns: 50% auto;
  position: relative;
  height: 80vh;
  align-items: center;
  margin: 0px 300px; }

.right, .left {
  max-height: 700px;
  padding-top: 100px;
  height: 800px; }

#align-game {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.bottom-right-edge {
  position: absolute;
  display: none;
  height: 0;
  width: 0;
  border: solid 20px transparent;
  border-left: solid 20px #473d8a;
  border-right-width: 0px;
  background: none;
  top: 660px;
  left: 700px;
  z-index: 1000; }

.top-left-edge {
  position: absolute;
  display: none;
  height: 0;
  width: 0;
  border: solid 20px transparent;
  border-bottom: solid 20px #6a5bcd;
  border-top-width: 0px;
  background: none;
  left: 0px;
  top: 80px; }

.left-align {
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.p1, .p2 {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 10px;
  text-transform: uppercase; }

.p1 input, .p2 input {
  margin: 0px 20px;
  padding: 15px; }

.turn {
  display: inline-block;
  font-weight: bold;
  font-size: 4rem;
  margin: 30px 0px 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

input[type=button] {
  height: auto;
  width: 100%;
  font-size: 2.3rem;
  padding: 20px 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

.slider-container {
  margin-top: 30px; }

.slider-container div {
  display: inline-block; }

/* MODULES */
#game-display {
  display: grid;
  position: relative;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 100px);
  width: 700px;
  height: 700px; }

.display-cell {
  border: none;
  height: 100px;
  width: 100px -1px; }

.display-cell:nth-child(n+8) {
  background: #7968ee; }

#outer-border {
  display: none;
  position: relative;
  left: 20px;
  top: -620px;
  height: 600px;
  background: linear-gradient(-40.4deg, #473d8a 50%, #6a5bcd 50%);
  width: 700px;
  z-index: -10;
  margin: none;
  padding: none; }

#game {
  box-sizing: border-box;
  display: grid;
  transform: translateY(-700px);
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(7, 100px);
  z-index: 10; }
  #game div:not(.first-row, .yellow, .red) {
    background: white;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid black; }

.first-row {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  margin-bottom: 40px;
  border: 1px solid black;
  border-color: transparent;
  transform: translate(5px, -30px); }

.first-row::before {
  position: fixed;
  display: block;
  content: "";
  background: white;
  border: 1px solid black;
  height: 6.6666666667px;
  width: 76.9230769231px;
  top: 84.6153846154px;
  transform: translate(6px, 25px) skew(-48deg);
  z-index: -10; }

.red-turn:hover, .yellow-turn:hover {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  border: 1px solid black;
  box-shadow: inset 0 0 7px 0 black;
  margin-bottom: 40px; }

.red-turn:not(.red, .yellow):hover {
  background: red !important; }

.yellow-turn:not(.red, .yellow):hover {
  background: yellow !important; }

.red, .yellow {
  display: inline-grid;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5px 0 0 5px;
  z-index: 100;
  box-shadow: inset 0 0 7px 0 black; }

.red {
  background: red;
  z-index: inherit; }

.yellow {
  background: yellow;
  z-index: inherit; }

.shaded-coin {
  box-shadow: inset 0 0 7px 0 black; }

/*# sourceMappingURL=style.css.map */
