// GLOBAL VARIABLES
$height: 100px
$width: 100px
$cols: 7
$rows: 6 + 1
$basic-border: 1px solid black
$size-reduction: 10px

$outer-border-width: 10px
$outer-border-color: darkblue

$inside-coin-shadow: inset 0 0 7px 0 black