.container 
  display: grid
  grid-template-columns: 50% auto
  position: relative
  height: 80vh
  align-items: center
  margin: 0px 300px

.right, .left
  max-height: $height*$rows
  padding-top: 100px
  height: 800px

// .left
//   margin-left: 300px
// .right
//   margin-right: 300px

#align-game
  position: relative
  left: 50%
  transform: translateX(-50%)

.bottom-right-edge 
  position: absolute
  display: none
  height: 0
  width: 0
  border: solid $outer-border-width transparent
  border-left: solid $outer-border-width $outer-border-color1
  border-right-width: 0px
  background: none
  top: $height*$rows - $outer-border-width*2
  left: $width*$cols
  z-index: 1000


.top-left-edge
  position: absolute
  display: none
  height: 0
  width: 0
  border: solid $outer-border-width transparent
  border-bottom: solid $outer-border-width $outer-border-color2
  border-top-width: 0px
  background: none
  left: 0px
  top: $height - $outer-border-width

.left-align
  position: relative
  left: 50%
  transform: translateX(-50%)

.p1, .p2
  display: flex
  align-items: center
  font-size: 3rem
  font-weight: bold
  padding-left: 30px
  padding-top: 10px
  text-transform: uppercase

.p1 input, .p2 input
  margin: 0px 20px
  padding: 15px

.turn 
  display: inline-block
  font-weight: bold
  font-size: 4rem
  margin: 30px 0px 50px
  position: relative
  left: 50%
  transform: translateX(-50%)

#turn-text
  transform: translateX(-15px)

input[type=button] 
  height: auto
  width: 100%
  font-size: 2.3rem
  padding: 20px 50px
  position: relative
  left: 50%
  transform: translateX(-50%)

.slider-container
  margin-top: 30px

.slider-container div
  display: inline-block
