// BASE STYLES
body 
  margin: none
  padding: none
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  font-size: 2rem
  overflow: hidden

div 
  display: inline-block

input 
  border: none
  background: none
  border: $basic-border
  outline: none
  border-radius: 15px
  padding: 5px 10px
  font-size: 2rem
  width: 200px