.red, .yellow 
  display: inline-grid
  height: $height - $size-reduction
  width: $width - $size-reduction
  border-radius: 50%
  border: $basic-border
  margin: ($size-reduction / 2) 0 0 ($size-reduction / 2)
  z-index: 100
  box-shadow: $inside-coin-shadow
  
.red 
  background: red
  z-index: inherit

.yellow 
  background: yellow
  z-index: inherit

.shaded-coin
  box-shadow: $inside-coin-shadow

.glow-coin
  // box-shadow: inset 0 0 7px 0 black, 0 0 15px 5px #00ffff 

.glow-coin2
  box-shadow: inset 0 0 15px 5px #00ffff 

.dark-coin
  filter: grayscale(80%)