#game 
  display: none
  grid-template-columns: repeat(7, 100px)
  grid-template-rows: repeat(6, 100px)
  width: 700px
  height: 600px
  border: 1px solid black

.cell 
  display: inline-grid
  border: 1px solid black
  height: 100px
  width: 100px

div.red 
  background-image: url("../images/logo-feri-rdec.png")
  background-repeat: no-repeat
  background-size: 100px 100px

div.yellow 
  background-image: url("../images/logo-feri-rumen.png")
  background-repeat: no-repeat
  background-size: 100px 100px

.turn 
  font-size: 4rem
  margin-top: 30px
  position: relative
  left: 50%
  transform: translateX(-50%)