#game 
  display: none
  grid-template-columns: repeat($cols, $width)
  grid-template-rows: repeat($rows, $height)
  width: $cols * $width
  height: $rows * $height
  border: $basic-border

.cell 
  display: inline-grid
  border: $basic-border
  height: $height
  width: $width

.turn 
  font-size: 4rem
  margin-top: 30px
  position: relative
  left: 50%
  transform: translateX(-50%)